/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///
///

@use "./components/user-feedback-component/user-feedback-component.scss";
@use "./components/user-feedback-modal/user-feedback-modal.scss";

#home-page {
  height: 100%;
  background-color: var(--canvas-color);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
